*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}

li {
  list-style: none;
}

body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 230px 4fr;
}

header {
  grid-column: 2;
  grid-row: 1;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-rows: 1fr 1fr;
  background-color: #FAFAFA;
}

aside {
  grid-column: 1;
  grid-row: 1/-1;

  background-color: #303F9F;
  color: #FAFAFA;
  display: grid;
  grid-template-rows: 50px 200px 100px;
  gap: 20px;
  justify-content: left;
  padding-left: 10px;
}

aside h2 {
  font-weight: bold;
  font-size: 2rem;
  display: flex;
  justify-content: baseline;
  align-content: center;
  margin-top: 10px
}

aside h2>span {
  text-align: center;
  font-size: 2rem;
  padding-right: 20px
}

aside li {
  display: flex;
  justify-content: baseline;
  margin: 10px 0;
  font-weight: bold;
}


aside li>span {
  padding-right: 10px;
}

main {
  grid-column: 2;
  grid-row: 2;
  background-color: #E0E0E0
}

#logo {
  width: 45px;
  height: 45px;
}

#admin {
  padding-top: 40px;
}


#header-content-top {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
}

#header-content-bottom {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

#search {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

#search-icon {
  margin-right: 10px;
}

#user-interaction {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 10%;
  margin-right: 10%;
}

#user-name {
  font-size: 1.2rem;
  font-weight: bold;
}

#search input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #E0E0E0;
}


#user-icon-1 {
  width: 50px;
  height: 50px;
}

#greeting {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start
}

#user-icon-2 {
  width: 90px;
  height: 90px;
  margin-left: 8%;
}



#user-greeting {
  font-size: 2rem;
  font-weight: bold;
  padding-left: 20px;
}

#user-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 10%;
  margin-right: 5%;
}

#user-actions button {
  width: 100px;
  font-size: 1rem;
  font-weight: bold;
}


.user-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

button {
  background-color: #303F9F;
  color: #FAFAFA;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}